#bodyNiveau1 {

    text-align: center;
    overflow: hidden;
    background-color: #a285df;
}

#bodyNiveau2 {
    text-align: center;
    overflow: hidden;
    background-color: #e694e6;
}

#bodyNiveau3 {
    text-align: center;
    overflow: hidden;
    background-color: #7ac0e1;
}


body {
    transition: background-color 0.5s;
}

h1 {
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#h1Jeux {
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 50px 70px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    background-color: #7bd18b;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.btnSend {
    display: inline-block;
    margin-top: 30px;
    padding: 50px 70px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    background-color: #7bd18b;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #aa0818;
}

.btnArret {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #e4de6a;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.btnArret:hover {
    background-color: #aa0818;
}

.rules {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}

.rules2 {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.confetti {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffd500;
    top: 100vh;
    border-radius: 50%;
    animation: confetti-rise 2s ease-in-out infinite;
}

#inputNiveau1 {
    width: 340px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}